// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

body {
  font-family: 'Poppins', 'Arial', 'Avenir Next Georgian', Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Poppins', 'Avenir Next Georgian', Arial, sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 60px;
}





