body {
    font-family: 'Poppins', 'Arial', 'Avenir Next Georgian', Arial;
}

h1, h2, h3 {
    font-family: 'Poppins', 'Avenir Next Georgian', Arial;
    font-weight: 700;
}

.cart-item {
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.cart-item img {
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.cart-item .item-details {
    flex-grow: 1;
}

.cart-item .item-quantity {
    display: flex;
    align-items: center;
}

.item-quantity button {
    background-color: #00AB7A;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.item-quantity button:hover {
    background-color: #fff;
    color: #00AB7A;
    border: 1px solid #00AB7A;
}

.item-quantity button:active {
    background-color: #008E65;
    transform: scale(0.95);
}

.item-quantity input {
    width: 50px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 10px;
}

.total-price {
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.btn-checkout {
    background-color: #00AB7A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-checkout:hover {
    background-color: #fff;
    color: #00AB7A;
    border: 1px solid #00AB7A;
}

.btn-checkout:active {
    background-color: #008E65;
    transform: scale(0.95);
    color: #fff;
}
