body {
    font-family: 'Poppins', 'Arial', 'Avenir Next Georgian', Arial;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', 'Avenir Next Georgian', Arial;
    font-weight: 700;
}

.form-section {
    border: 1px solid #00AB7A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 171, 122, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}

.form-section h4 {
    margin-bottom: 20px;
}

.form-section input,
.form-section select {
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 22px);
}

.form-section input:focus,
.form-section select:focus {
    border-color: #00AB7A;
    box-shadow: 0 0 5px rgba(0, 171, 122, 0.5);
}

.btn-proceed-to-checkout {
    background-color: #00AB7A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-proceed-to-checkout:hover {
    background-color: #fff;
    color: #00AB7A;
    border: 1px solid #00AB7A;
}

.btn-proceed-to-checkout:active {
    background-color: #008E65;
    transform: scale(0.95);
    color: #fff;
}

.cart-summary {
    background-color: #f9f9f9;
    border: 1px solid #00AB7A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 171, 122, 0.1);
    padding: 20px;
    margin-left: 20px;
}

.cart-summary img {
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
}

.cart-summary .item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
}

.cart-summary .item .item-quantity {
    display: flex;
    align-items: center;
}

.cart-summary .item .item-quantity button {
    background-color: #00AB7A;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cart-summary .item .item-quantity button:hover {
    background-color: #fff;
    color: #00AB7A;
    border: 1px solid #00AB7A;
}

.cart-summary .item .item-quantity button:active {
    background-color: #008E65;
    transform: scale(0.95);
}

.cart-summary .item .item-quantity input {
    width: 50px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 10px;
}

.total-price, .tax {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.tax-breakdown p {
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.sticky-form {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.cart-summary h4 {
    margin-bottom: 20px;
}

.checkout-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkout-section input[type="checkbox"] {
    margin-right: 10px; /* Adjust as necessary for spacing */
}

.checkout-section label {
    margin: 0; /* Ensure no extra margin is added */
    line-height: 1; /* Align label with the checkbox */
}

#same-address {
    margin-left: 0;
}
