body {
    font-family: 'Poppins', 'Arial', 'Avenir Next', Arial, sans-serif !important;
    line-height: 1.6 !important;

}

h1, h2, h3 {
    font-weight: 700 !important;
    font-family: 'Poppins', 'Avenir Next', Arial, sans-serif !important;
}

h2 {
    font-size: 2.5rem !important;
    margin-bottom: 1rem !important;
}

.faq-heading-divider {
    width: 100px;
    height: 4px;
    background-color: #20c997;
    border: none;
    margin: 0.5rem auto;
}

.faq-container {
    background-color: #ffffff !important;
    padding: 2rem !important;
    border-radius: 1rem !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #ddd !important;
    margin-top: 2rem !important;
}

.card {
    border-radius: 12px !important;
    margin-bottom: 1.5rem !important;
    text-align: center !important;
    background-color: #f9f9f9 !important;
    border: none !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease !important;
}

.card:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
    background-color: #e0f7fa !important;
}

.card-header {
    background-color: #20c997 !important;
    color: #fff !important;
    padding: 1rem !important;
    border-bottom: none !important;
    border-radius: 12px 12px 0 0 !important;
}

.card-header h5 {
    margin-bottom: 0 !important;
    font-size: 1.125rem !important;
}

.btn-link {
    color: #fff !important;
    font-weight: 700 !important;
    text-align: center !important;
    text-decoration: none !important;
    transition: color 0.3s ease, background-color 0.3s ease !important;
}

.btn-link:hover {
    color: #fff !important;
    background-color: #00A875 !important;
}

.card-body {
    font-family: 'Poppins', 'Avenir Next', Arial, sans-serif !important;
    text-align: center !important;
    padding: 1.5rem !important;
    color: #555 !important;
    border-radius: 0 0 12px 12px !important;
    background-color: #ffffff !important;
    transition: background-color 0.3s ease !important;
}

.card-body:hover {
    background-color: #00A875 !important;
    color: #fff !important;
}
