body {
    background-color: #f9f9f9;
    font-family: 'Poppins', 'Arial', 'Avenir Next Georgian', Arial;
    color: #333;
}

h1, h2, h3 {
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
