body {
    font-family: 'Poppins', 'Arial', 'Avenir Next Georgian', Arial;
}

h1, h2, h3 {
    font-family: 'Poppins', 'Avenir Next Georgian', Arial;
    font-weight: 700;
}

h2 {
    font-size: 60px;
    text-align: left;
}

.category-heading {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border-radius: unset!important;
    margin-bottom: 15px;
}

.category-list a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 400;
    color: #666;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: unset!important;
}

.category-list a svg {
    margin-right: 10px;
    fill: #00AB7A;
    transition: fill 0.3s;
}

.category-list a:hover svg,
.category-list .active-category svg {
    fill: #fff;
}

.category-list a:hover,
.category-list .active-category {
    // border-color: #00AB7A;
    background-color: #333;
    color: #fff;
    // color: #00AB7A;
    text-decoration: none;
}

.product-card {
    border: 1px solid #eee;
    border-radius: unset!important;
    margin-bottom: 20px;
    position: relative;
}

.product-card img {
    height: 250px;
    object-fit: cover;
}

.btn-add {
    background-color: #00AB7A;
    width: 50px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-add:hover {
    background-color: #fff;
    color: #00AB7A;
    border: 1px solid #eee;
}

.btn-add:active {
    background-color: #008E65;
    transform: scale(0.95);
    color: #fff;
}

.btn-add:focus,
.btn-add:focus-visible,
.btn-add:focus:active,
.btn-add:focus:hover,
.btn-add:focus:visited {
    outline: none;

    color: #fff;
    background-color: #00AB7A;
    border: none;
}

.footer {
    background-color: #191919;
    color: #fff;
    padding: 2rem 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.btn-load-more {
    background-color: #00AB7A;
    color: #fff;
    border: none;
    border-radius: unset!important;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-load-more:hover {
    background-color: #fff;
    color: #00AB7A;
    border: 1px solid #eee;
}

.btn-load-more:active {
    background-color: #008E65;
    transform: scale(0.95);
    color: #fff;
}

.page-item {
    border-radius: unset!important;
    margin: 0 5px;
}

.page-link {
    background-color: #00AB7A;
    color: #fff;
    border: 1px solid #eee;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.page-link:hover {
    background-color: #fff;
    color: #00AB7A;
    border: 1px solid #eee;
}

.page-link:active {
    background-color: #008E65;
    transform: scale(0.95);
    color: #fff;
}

.page-item.active .page-link {
    background-color: #008E65;
    border: 1px solid #eee;
}

.card.product-card {
    transition: transform 0.2s;
    // border: 2px solid #00AB7A;
}

.card.product-card:hover {
    transform: scale(1.05);
}

.custom-pagination {
    .pagination-list {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: center;
    }

    .pagination-item {
        margin: 0 5px;

        a, span {
            display: block;
            padding: 8px 12px;
            text-decoration: none;
            color: #008E65;
            background-color: #fff;
            border: 1px solid #eee;
            border-radius: unset!important;
            transition: background-color 0.3s, color 0.3s;
        }

        a:hover {
            background-color: #008E65;
            color: #fff;
        }

        &.active span {
            background-color: #008E65;
            color: #fff;
            border-color: #008E65;
        }

        &.disabled span {
            color: #6c757d;
            background-color: #fff;
            border-color: #dee2e6;
            cursor: not-allowed;
        }
    }
}

.search-form {
    .form-control:focus {
        border-color: #00AB7A;
    }

    #search_button {
        border-radius: unset!important;
        color: #00AB7A;
        font-size: 16px;
        font-weight: 700;
        padding:15px;
        margin-left: 10px;
        transition: background-color 0.3s, color 0.3s;
    }

    #search_button:hover {
        color: #0D916C;
    }

    .search-bar {
        border-radius: unset;
        border: 1px solid #ddd;
        font-size: 1rem;
        padding:15px;
        margin-bottom: 20px;
    }
}

.product-card {
    border: 1px solid #eee;
    border-radius: unset!important;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}


.product-card .card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.product-card .card-text {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    width: 40px;
    height: 40px;
    background-color: #00AB7A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

.add-to-cart-btn:hover {
    background-color: #008E65;
}
