body {
    font-family: 'Poppins', Arial, 'Avenir Next Georgian';
    background-color: #f9f9f9;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', 'Avenir Next Georgian', Arial;
    font-weight: 700;
}

#saved-addresses h6 {
    border-bottom: 2px solid #00A875;
    padding: 5px;
    background-color: #00A875;
    color: white;
    width: 22%;
}

.profile-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: unset !important;
    position: relative;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00AB7A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.profile-avatar svg {
    width: 60%;
    height: 60%;
    fill: #fff;
}

.profile-info {
    flex-grow: 1;
}

.profile-info h2 {
    margin-bottom: 5px;
}

.profile-info p {
    margin: 0;
    color: #666;
}

.logout-btn-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-btn-form .btn-primary {
    background-color: #00A875;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-top: 110px;
    border-radius: unset;
}

.logout-btn-form .btn-primary:hover {
    background-color: #007e58;
    color: #fff;
    transform: scale(1.02);
}

.logout-btn-form .btn-primary:active {
    background-color: #008E65;
    transform: scale(0.95);
    color: #fff;
}

.profile-section {
    border: 1px solid #00A875;
    padding: 25px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.profile-section h4 {
    margin-bottom: 20px;
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
}

.profile-section input,
.profile-section select {
    border-radius: unset;
    border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 15px;
    width: calc(100% - 24px);
}

.profile-section input:focus,
.profile-section select:focus {
    border-color: #00AB7A;
    outline: none;
}

.profile-sidebar {
    border: 1px solid #00A875;
    padding: 20px;
    background-color: #f9f9f9;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    height: fit-content;
    margin-right: 5px;
}

.profile-sidebar h4 {
    margin-bottom: 20px;
}

.profile-sidebar a {
    display: block;
    padding: 10px 15px;
    color: #00A875;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid #00A875;
}

.profile-sidebar a:hover {
    background-color: #00A875;
    color: #fff;
}

.profile-main-content {
    flex-grow: 1;
}

.d-flex {
    display: flex;
}

.address-box {
    border: 2px solid #00A875;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.order-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #e1e1e1;
    padding: 25px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.order-item ul {
    margin-bottom: 20px;
}

.order-item button {
    border-radius: unset;
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #00A875;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.order-item button:last-child {
    margin-right: 0;
}

.order-item button:hover {
    background-color: #007e58;
}

.order-item .btn-secondary {
    background-color: #6c757d;
}

.order-item .btn-secondary:hover {
    background-color: #5a6268;
}

.order-item .button-group {
    display: flex;
    flex-direction: row;
}

.buttons-section {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons-section button {
    padding: 14px;
}

.buttons-section #order_detail {
    background-color: #1a1a1a;
    color: white;
}

#update_button {
    padding: 14px;
    background-color: #00A875;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: unset;
}

#update_head {
    border-bottom: 2px solid #00A875;
    padding: 10px;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-group .form-control {
    border-radius: unset;
    width: 70%;
    margin-top: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group .form-control:focus {
    border-color: #00A875;
    box-shadow: 0 0 5px rgba(0, 168, 117, 0.5);
}

.form-group .form-control:active {
    border-color: #008E65;
    box-shadow: 0 0 5px rgba(0, 142, 101, 0.5);
}
.review-list .review {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: unset;
    border: 2px solid #00A875;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.review-list .review .review-image {
    margin-top: 15px;
    height: auto;
    width: 120px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .profile-sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .profile-main-content {
        width: 100%;
    }

    .buttons-section {
        flex-direction: column;
    }

    .logout-btn-form {
        position: relative;
        margin-top: 20px;
        text-align: center;
    }

    .logout-btn-form .btn-primary {
        margin-top: 10px;
    }

    .profile-header {
        flex-direction: column;
        align-items: center;
    }

    .profile-info {
        text-align: center;
        margin-top: 10px;
    }
}


.is-invalid {
    border-color: #e3342f;
    background-color: #fdd;
    box-shadow: 0 0 5px rgba(227, 52, 47, 0.5);
}

.invalid-feedback {
    color: #e3342f;
    font-size: 0.875em;
    margin-top: 0.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.invalid-feedback::before {
    content: "\f06a";
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 0.5rem;
    color: #e3342f;
}


.is-invalid:focus {
    border-color: #e3342f;
    outline: none;
    box-shadow: 0 0 5px rgba(227, 52, 47, 0.7);
}
