.card-header {
    background-color: #ffffff;
    border-bottom: none;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    border: 1px solid #00A875;
    border-radius: unset !important;
}


.card-body {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #00A875;
    border-radius: unset !important;
}


.col-form-label {
    font-weight: bold !important;
    font-size: 1rem;
}


.form-control {
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 30px;

    &:focus {
        border-color: #00A875 !important;
        box-shadow: #00A875 !important;
        outline: none;
    }
}

.btn-primary {
    background-color: #00A875 !important;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: unset !important;
    border: none !important;
}

.card-body .row.mb-0 {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .card-body {
        padding: 1rem;
    }
}
