.product-image img {
    width: 100%;
    max-width: 80%;
}

#product_detail {
    margin-left: 50px;
}

.product-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 20px;
    font-size: 18px;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.quantity-label {
    font-weight: bold;
    margin-right: 10px;
}

.qty-input {
    color: #000;
    background: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: unset!important;


    .product-qty,
    .qty-count {
        background: transparent;
        color: inherit;
        font-weight: bold;
        font-size: inherit;
        border: none;
        display: inline-block;
        min-width: 0;
        height: 2.5rem;
        line-height: 1;
    }

    .product-qty {
        width: 50px;
        min-width: 0;
        display: inline-block;
        text-align: center;
        appearance: textfield;
    }

    .product-qty::-webkit-outer-spin-button,
    .product-qty::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

    .qty-count {
        padding: 0;
        cursor: pointer;
        width: 2.5rem;
        font-size: 1.25em;
        text-indent: -100px;
        overflow: hidden;
        position: relative;
    }

    .qty-count::before,
    .qty-count::after {
        content: "";
        height: 2px;
        width: 10px;
        position: absolute;
        display: block;
        background: #000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .qty-count--minus {
        border-right: 1px solid #e2e2e2;
    }

    .qty-count--add {
        border-left: 1px solid #e2e2e2;
    }

    .qty-count--add::after {
        transform: rotate(90deg);
    }

    .qty-count:disabled {
        color: #ccc;
        background: #f2f2f2;
        cursor: not-allowed;
        border-color: transparent;
    }

    .qty-count:disabled::before,
    .qty-count:disabled::after {
        background: #ccc;
    }
}

.text-success {
    color: #28a745 !important;
}

.btn-product {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

.btn-dark {
    background-color: #333;
    color: #fff;
}

.btn-outline-dark {
    border: 1px solid #333;
    color: #333;
    background-color: transparent;
}

.btn-outline-dark i {
    margin-right: 5px;
}

.btn-add-cart {
    background-color: #018F64;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.btn-add-cart:hover {
    background-color: #018F64;
}

#review_section {
    .overall-rating {
        display: flex;
        align-items: center;
        font-size: 2rem;

        .overall-rating-stars {
            margin-left: 20px;
        }

        .write-review-btn {
            background-color: #00aaff;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: unset!important;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #008ecc;
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .review-list {
        .review {
            background-color: #f9f9f9;
            padding: 1.5rem;
            border-radius: unset!important;

            transition: transform 0.3s;
            border: 2px solid #00A875;

            &:hover {
                transform: scale(1.02);
            }

            .review-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;

                .review-user-info {
                    display: flex;
                    align-items: center;

                    .avatar-svg {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin-right: 25px;
                    }

                    .user-name {
                        font-weight: bold;
                        margin-right: 10px;
                    }

                    .review-date {
                        color: #777;
                        font-size: 0.9em;
                    }
                }

                .review-rating {
                    display: flex;
                    justify-content: flex-end;

                    svg {
                        margin-right: 5px;
                    }
                }
            }

            .review-body {
                .review-text {
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #333;
                    margin-bottom: 10px;
                }

                .review-image {
                    margin-top: 10px;

                    img {
                        height: auto;
                        width: 100px;
                        object-fit: cover;
                        border-radius: unset!important;
                    }
                }
            }
        }
    }
}
.review-form {
    margin-top: 30px;

    .form-group {
        margin-bottom: 15px;

        label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }

        .form-control {
            border-radius: unset!important;
            padding: 10px;
            font-size: 1rem;
            width: 70%;
            border: 1px solid #ccc;
        }
    }

    .btn-primary {
        background-color: #00A875 !important;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        border-radius: unset !important;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }

    .alert-success {
        margin-top: 20px;
        padding: 15px;
        border-radius: unset!important;
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }
}

.ml-3{
    font-size: 15px;
    margin-left: 25px;
}

.review_btn{
    background-color:#00A875;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 40px;
}
