body {
    font-family: 'Poppins', 'Arial', 'Avenir Next Georgian', Arial;
    background-color: #f9f9f9;
    padding-top: 50px;
}

.thank-you-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: unset!important;
    box-shadow: 0 4px 8px rgba(0, 171, 122, 0.1);
    text-align: center;
}

.thank-you-container h1 {
    font-family: 'Poppins', 'Avenir Next Georgian', Arial;
    font-weight: 700;
    color: #00AB7A;
}

.thank-you-container p {
    font-size: 16px;
    color: #333;
}

.order-id {
    font-size: 18px;
    font-weight: 700;
    color: #00AB7A;
}

.btn-home {
    background-color: #00AB7A;
    color: #fff;
    border: none;
    border-radius: unset!important;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.btn-home:hover {
    background-color: #fff;
    color: #00AB7A;
    border: 1px solid #00AB7A;
}

.btn-home:active {
    background-color: #008E65;
    transform: scale(0.95);
    color: #fff;
}
