.bold {
  font-weight: 700;
}

.container {
  width: 100%;
  margin: auto;
}

.wishlist-section {
  padding: 60px 0;

  h2 {
    margin-bottom: 30px;
    text-align: left;
  }
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.product-info {
  display: flex;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }

  .product-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .product-price {
    font-size: 18px;
    color: #F26151;
    font-weight: 700;
  }
}

.product-actions {
  display: flex;
  align-items: center;

  .btn-remove {
    color: #666;
    margin-left: 20px;
  }
}


.btn-primary {
  background-color: #00AB7A;
  width: 182px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: unset!important;
  padding: 12px 20px;
  font-size: 17px;
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  display: inline-block;
  z-index: 2;
  position: relative;
}

.btn-primary:hover {
  background-color: #fff;
  color: #00AB7A;
  border: 1px solid #eee;
}

.btn-primary:active {
  background-color: #008E65 !important;

  transform: scale(0.95);
  color: #fff;
}

.btn-primary:focus,
.btn-primary:focus-visible,
.btn-primary:focus:active,
.btn-primary:focus:hover,
.btn-primary:focus:visited {
  outline: none;

  color: #fff;
  background-color: #00AB7A;
  border: none;
}

.product-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
