// resources/sass/admin.scss

body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    margin-top: 20px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    margin-bottom: 1rem;
}
