// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Poppins', 'Arial', 'Avenir Next Georgian', Arial, sans-serif !important;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    margin-top: 20px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    margin-bottom: 1rem;
}
